<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trispace&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
</head>
<body>
    <nav>
        <div class="TodoList">
            <span>T</span>
            <span>o</span>
            <span>D</span>
            <span>o</span>
            <span>L</span>
            <span>i</span>
            <span>s</span>
            <span>T</span>
        </div>
        <ul class="barraNav-list">
                <li><a class="registrarce" href="{{ url_for('auth.register') }}">Registrarse</a></li>
                <li><a class="inicioSesion" href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>¡Crea tus notas o tareas de forma organizada y simple!</h1>
        <p>Es muy sencillo, solo inicia Sesión o Registrate, vamos!, no lo pienses más.</p>
    </div>
    <div class="img-container"></div>
</body>
</html>


