html {
    height: 100%;
}

body {
    min-height: 100vh; 
    margin: 0;
    background-color: #E4DCCF;
}

.TodoList {
    display: inline-block;
    margin: 2vh 2vw;
    margin-left: 2.6vw;
    padding-right: 6px;
    border-right: 1px solid #7D9D9C;
}

header {
    padding: 0px 15px;
    padding-bottom: 15px;
}
span {
    width: 100%;
    color: #FF8C32;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.8vw;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.1em rgba(0,0,0,0.9);
}

span:not(:first-child) {
    margin-left: -0.3em;
}

section {
    width: 450px;
    margin: auto;
    position: relative;
    top: 125px;
    background-color: #F0EBE3;
    border-radius: 14px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

nav {
    width: 70%;
    margin-left: 15vw;
    position: fixed;
    top: 0;
}


.barraNav-list {
    list-style-type: none;
    margin: 0;
    margin-top: 2vh;
    margin-right: 4vw;
    float: right;
    
}

nav .barraNav-list li {
    float: right;
    margin-right: .9vw;
}

.List-todo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todo div:first-child {
    display: inline-block;
    margin: 15px 0px;
    padding: 0px 15px;
}

.about {
    text-align: right;
    font-family: monospace;
    color: #7D9D9C;
}

.todo h2 {
    margin: 0;
    padding: 5px 0px;
    margin-bottom: 8px;
    border-top: 1px solid #576F72;
    border-bottom: 1px solid #576F72;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: 100;
}


.action1 {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #FF8C32;
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: 0.2s;
}


.action2 {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #7D9D9C;
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: 0.2s;
}


.registrarce {
    display: block;
    padding: 10px;
    border-radius: 8px;
    background-color: #7D9D9C;
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: 0.2s;
}

.inicioSesion {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #7D9D9C;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    transition: 0.2s;
}


/* */

header h1 {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 35px;
    background: -webkit-linear-gradient(180deg,#FF8C32, #18978F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -2px;
}

input {
    margin-bottom: 25px;
    display: block;
    padding: 8px;
    padding-bottom: 1px;
    background: none;
    border: none;
    border-bottom: 2px solid #E4DCCF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    transition: 0.5s;
}

input[type = submit] {
    margin: auto;
    padding: 10px;
    border: 0;
    background-color: #7D9D9C;
    border-radius: 8px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: 0.2s;
}

section form {
    margin-left: 50px;
    padding: 15px 40px;
}

label {
    margin: 8px;
    color: #576F72;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.nameUser {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #576F72;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.cerrarSesion {
    display: block;
    padding: 10px;
    border-radius: 8px;
    background-color: #7D9D9C;
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: 0.2s;
}

.registrarce:hover {
    background-color: #576F72;
}

.inicioSesion:hover {
    color: #576F72;
}


.action1:hover {
    background-color: #d77428;
}


.action2:hover {
    background-color: #576F72;
}

.cerrarSesion:hover {
    background-color: #576F72;
}

input:focus { /* Para cuando se tiene seleccionado un input +*/    border: none;
    outline: none;
    border-bottom: 3px solid #7D9D9C;
}

input[type = submit]:hover {
    cursor: pointer;
    background-color: #576F72;
}

hr {
   border: 1px solid #E4DCCF;
   background-color: #E4DCCF;
}




